{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'spotify_stats/index_style.css' %}">

<head>
  <title>Spotify statistics homepage</title>
</head>
<div class="header">
  <h1>Spotify statistics app</h1>
  <p>Homepage with useful links</p>
</div>

<ul>
<li>Pick a date range and get your most listened tracks <a href={% url 'spotify_stats:pick_date'%}> here </a></li>
<li>Get basic statistics by submitting a track id in the URL <a href={% url 'spotify_stats:basic_stats' 1 %}> here </a></li>
<li>Get track details by submitting a track id in the URL <a href={% url 'spotify_stats:track_detail' 1 %}> here </a></li>
<li>Get stream details by submitting a stream id in the URL <a href={% url 'spotify_stats:stream_detail' 1 %}> here </a></li>
</ul>