<table style="border-collapse: collapse; width: 100%; height: 90px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;"><a title="q" href="q">w</a></td>
<td style="width: 33.3333%; height: 18px;">qwe</td>
<td style="width: 33.3333%; height: 18px;">wsx</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;"><a title="q" href="q">w</a></td>
<td style="width: 33.3333%; height: 18px;">qwe</td>
<td style="width: 33.3333%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;"><a title="q" href="q">w</a></td>
<td style="width: 33.3333%; height: 18px;">qwe</td>
<td style="width: 33.3333%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;"><a title="q" href="q">w</a></td>
<td style="width: 33.3333%; height: 18px;">qwe</td>
<td style="width: 33.3333%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;"><a title="q" href="q">w</a></td>
<td style="width: 33.3333%; height: 18px;">qwe</td>
<td style="width: 33.3333%; height: 18px;">&nbsp;</td>
</tr>
</tbody>
</table>